<body>
<p>
Caro Parlamentar,
</p><p>
você (ou alguém se passando por você) votou {{voto}} na votação {{votacao}} do site <a href="http://votoaberto.org.br">Voto Aberto</a>.
</p>
<p>Esse site é uma forma de abrir a caixa preta do legislativo e permite que parlamentares como você - que não tem receito de manisfetar publicamente suas opiniões - dê transparência ao processo.</p>
<p>
Para confirmar o voto, clique <a href="{{link}}">aqui</a>.
</p>
<p>
Ou use o seguinte endereço: {{link}}
</p>
<p>
Grato,<br />
equipe Voto Aberto
</p>
</body>